nav ul li{
    font-size: 24px;
}
.item{
    padding: 15px;
}

.item_name{
    float: left;
}

.item_date{
    float: right;
    color: #b0bec5;
}

.item_value{
    clear: both;
    font-size: 28px;
}

.item--income .item_value{
    color: #26a69a;
}

.item--loss .item_value{
    color: #f44336;
}