<div class="container" style="margin: 30px auto 0;">
  <div class="row">
    <div class="col s6">
      <form class="row"  (ngSubmit)="add('income', transIncome); addIncome.reset()" #addIncome="ngForm">

        <div class="input-field col s5">
          <input type="text"  class="validate" id="inomeDate"
                 required
                 name="date"  [(ngModel)]="transIncome.date">
          <label for="inomeDate">date</label>
        </div>

        <div class="input-field col s5">
          <input type="text" class="validate" id="incomeName"
                 required
                 name="incomeName"
                 [(ngModel)]="transIncome.name">
          <label for="incomeName">Name</label>
        </div>

        <div class="input-field col s5">
          <input type="number" class="validate" id="incomeValue"
                 required
                 name="value"
                 [(ngModel)]="transIncome.value">
          <label for="incomeValue">Value</label>
        </div>

        <div class="input-field col s10">
          <div *ngFor="let category of categories">
            <input type="radio" id="{{category.name}}"
                   required
                   name="category"
                   value="{{category.name}}"
                   [(ngModel)]="transIncome.category">
            <label for="{{category.name}}">{{category.name}}</label>
          </div>
        </div>

        <div class="input-field col s2">
          <button class="btn-floating btn-large waves-effect waves-light" type="submit"  [disabled]="!addIncome.form.valid">
            <i class="material-icons">add</i>
          </button>
        </div>

      </form>
      <div class="card item item--income" *ngFor="let income of incomeData">
        <div class="item_name">{{income.name}}</div>
        <div class="item_date">{{income.date}}</div>
        <div class="item_value">{{income.value}}</div>
        <a [routerLink]="['/cat', income.category]">{{income.category}}</a>
      </div>
    </div>

    <div class="col s6">
      <form class="row" (ngSubmit)="add('loss', transLoss); addLoss.reset()" #addLoss="ngForm">

        <div class="input-field col s5">
          <input type="text"  class="validate" id="lossDate"
                 required
                 name="date" [(ngModel)]="transLoss.date">
          <label for="lossDate">date</label>
        </div>

        <div class="input-field col s5">
          <input type="text" class="validate" id="lossName"
                 required
                 name="name" [(ngModel)]="transLoss.name">
          <label for="lossName">Name</label>
        </div>

        <div class="input-field col s5">
          <input type="number" class="validate" id="lossValue"
                 required
                 name="value" [(ngModel)]="transLoss.value">
          <label for="lossValue">Value</label>
        </div>

        <div class="input-field col s10">
          <div *ngFor="let category of categories">
            <input type="radio" id="{{category.name}}"
                   required
                   name="category"
                   value="{{category.name}}"
                   [(ngModel)]="transLoss.category">
            <label for="{{category.name}}">{{category.name}}</label>
          </div>
        </div>

        <div class="input-field col s2">
          <button class="btn-floating btn-large waves-effect waves-light red" type="submit" [disabled]="!addLoss.form.valid">
            <i class="material-icons">add</i>
          </button>
        </div>

      </form>
      <div class="card item item--loss" *ngFor="let loss of lossData">
        <div class="item_name">{{loss.name}}</div>
        <div class="item_date">{{loss.date}}</div>
        <div class="item_value">{{loss.value}}</div>
        <a [routerLink]="['/cat', loss.category]">{{loss.category}}</a>
      </div>
    </div>
  </div>
</div>


